{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKBOQaC0pBn4QSLzjqzhUii_PyUk4nQCK9kfSDug_GAw&s">
    <link rel="stylesheet" href="{% static 'todo_list_app/imagestyle.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <style>
    .table td {
      width: 200px; /* Adjust this value based on your design */
      text-align: center; /* Center-align content if desired */
    }

    .table button {
      min-width: 100px; /* Ensure buttons have a consistent width */
    }
  </style>
  <body>
    <nav class="navbar navbar-sm navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand mb-0 h1" href="{% url 'home' %}">TODO</a>
          
          <form class="d-flex" role="search" method="POST">
            {% csrf_token %}
            <input class="form-control form-control-sm me-2" type="search" placeholder="To-Do Item" aria-label="Search" name="item">
            <button type="submit" class="btn btn-sm btn-secondary">Add to List</button>
          </form>
        </div>
      </nav>


      <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav> -->



      <br>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script>
        var timeoutDuration = 2000;
        setTimeout(function() {
            var alert = document.getElementById('myAlert');
            alert.classList.remove('show');
            alert.classList.add('fade');
            setTimeout(function() {
                alert.remove();
            }, 1000); // Wait for the fade animation to complete before removing the alert element
        }, timeoutDuration);
    </script>
  </body>
</html>

